<!DOCTYPE html>
<html>
<head>
  <title>Roger's GameTime</title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" %>
  <%= javascript_include_tag "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
<%= csrf_meta_tags %>
</head>
<body class='<%= controller.controller_name %>'>
  <div id="banner">
    <%= image_tag("logo.jpg") %>
    <%= @page_title || "Your Favorite Team Headquarters!" %>
  </div>
  <div id="columns">
    <div id="side">
      <ul>
        <li><%= link_to "Home Court", root_path %></li>
        <li><%= link_to "Build Your Teams", %></li>
        <li><%= link_to "Locker Room Store", %></li>
        <li><%= link_to "Rumor Mill Blog", %></li>
        <li><%= link_to "Your Hall of Fame", %></li>
      </ul>
    </div>
    <div id="main">
      <%= yield %>
    </div>
  </div>
</body>
</html>